*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 100%;
    font-style:italic;
    color: aliceblue;
    background-color:#2C3E50 ;
}
.container-fluid{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;

}
.superior{
    max-width: 100%;
    height: 5vh;
  
}
.logo{
 height: 100%;
 flex-direction: row;
 align-items: center;
}
.img_logo{
    max-height: 100%;
    display:inline-block;
}
.text_logo{
    display: inline-block;
    margin-left: 2%;
}
.redes{
    text-align: end;
}
.img-redes{
display: inline-block;
position: relative;
bottom: 0%;
}
.buttom{
    height: 100%;
    text-align: end;

}
.center{
    width: 100%;
    height: 85vh;
    background-image: url("");
    background-position: center;
    background-size: 100% 100%;
    
}